@import '~bootstrap/scss/bootstrap';
@import 'color';
@import 'theme';

.results2 {
  color: $secondary-font-color;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

.results3 {
  color: $secondary-font-color;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

.nozama {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.sign-up {
  display: block;
}

body {
  background-image: url('https://media.giphy.com/media/1uRnBBIqbuBXy/giphy.gif');
  background-size: cover;
}

// gifs
// https://media.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif
// https://media.giphy.com/media/3o7buijTqhjxjbEqjK/source.gif
// https://media.giphy.com/media/1uRnBBIqbuBXy/giphy.gif
