@import '~bootstrap/scss/bootstrap';
@import 'color';
@import 'theme';

.results2 {
  color: $secondary-font-color;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

.results3 {
  color: $secondary-font-color;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

.nozama {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// body {
//   background-image: url('https://thumbs.gfycat.com/SardonicWindingIndianelephant-size_restricted.gif');
//   background-size: cover;
// }
