body {
  background-color: $main-background-color;
  color: $secondary-background;
}

button {
  background-color: $font-color;
  color: $secondary-font-color;
}

h1 {
  background-color: $main-background-color;
  color: $font-color;
}
